@page
@model NikhilsGameathon.Pages_Games.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Games</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Games.GamesName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Games.GamesName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Games.InitiallyReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Games.InitiallyReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Games.Devloper)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Games.Devloper)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Games.platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Games.platform)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Games.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
