@page
@model NikhilsGameathon.Pages_Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Games</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Games.GamesName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Games.GamesName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Games.InitiallyReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Games.InitiallyReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Games.Devloper)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Games.Devloper)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Games.platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Games.platform)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Games.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
