@page
@model NikhilsGameathon.Pages_Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].GamesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].InitiallyReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Devloper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].platform)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Games) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GamesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitiallyReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Devloper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.platform)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
